.App {
  padding: 50px;
}

.d-flex {
  display: flex;
}

.space-btw {
  justify-content: space-between;
}

.justify-end {
  justify-content: end;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.grow1 {
  flex: 1;
}

.grow3 {
  flex: 3;
}

.p-10 {
  padding: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mr-10 {
  margin-right: 10px;
}

.m-10 {
  margin: 10px;
}

.toolbar {
  padding: 20px;
  background-color: rebeccapurple;
  color: white;
  margin-bottom: 20px;
}

a {
  margin-right: 20px;
  color: white;
}

.text-red {
  color: tomato;
}

input,
textarea,
select {
  margin-bottom: 10px;
  padding: 5px;
}

button {
  padding: 5px;
  margin-bottom: 10px;
}

.message-sender {
  background-color: lavender;
  padding: 5px;
  border-radius: 5px;
}
